body {
    text-align: center;
}
/* .img {
    position: absolute;
    z-index: 1;
} */

#container {
    display: inline-block;
    position: relative;
    margin : 0 auto;
    background: black;
    border-radius: 10px;
}

/* #bg {
    position: absolute;
    z-index: 0;
} */

#mainc {
    position: absolute;
    z-index: 1;
}